<div class="top-bar fixed">
	
	<a class="top-bar-button button-left" href="#" data-role="nav-home">
		<i class="icon-caret-left"></i>
	</a>

	<h1 class="center">
		Achievements
	</h1>

</div>

<div class="achievements-list">

	{{#each achievements}}

		{{> partials/achievement-box}}

	{{/each}}

</div>