<div class="top-bar fixed">
	
	<a class="top-bar-button button-left" href="#">
		<i class="icon-caret-left"></i>
	</a>

	<h1 class="center">Levels</h1>

</div>

<ul class="levels-list">
	{{#each levels}}
		<li class="{{#if locked}}locked{{/if}}" data-role="level" data-level-name="{{ name }}">
			{{ name }}
			<div class="progress">
				{{#if locked}}
					<i class="icon-lock"></i>
				{{else}}
					{{#each stars}}
						<i class="icon-star star {{#if scored}}scored{{/if}}"></i>
					{{/each}}
				{{/if}}
			</div>
		</li>
	{{/each}}
</ul>