<div class="achievement-box {{#if unlocked}}unlocked{{/if}}">
	
	<div class="icon-wrap">
		<div class="achievement-icon achievement-icon-{{id}}"></div>
	</div>

	<div class="detail">

		<h3>{{title}}</h3>
		<p>{{description}}</p>

	</div>

</div>