<div class="achievement-notification">

	<div class="achievement-box">

		<h6>Achievement unlocked!</h6>
		
		<div class="icon-wrap">
			<div class="achievement-icon achievement-icon-{{id}}"></div>
		</div>

		<h3>{{title}}</h3>

		<h4>{{description}}</h4>

	</div>
</div>