{{#if win}}

	<a href="#" class="button-back" data-role="back">
		<i class="icon-chevron-left"></i>
	</a>

{{/if}}

{{#if win}}

	<div class="stars">
		<div class="star-holder">
			<i class="icon-star"></i>
			<i class="icon-star star"></i>
		</div>
		<div class="star-holder">
			<i class="icon-star"></i>
			<i class="icon-star star"></i>
		</div>
		<div class="star-holder">
			<i class="icon-star"></i>
			<i class="icon-star star"></i>
		</div>
	</div>

	<div class="actions">
		
		<a href="#" data-role="restart">
			<i class="icon-rotate-left"></i>
			Restart
		</a>

		{{#if next-level}}

			<a href="#" class="primary" data-role="next">
				Next
				<i class="icon-chevron-right"></i>
			</a>

		{{else}}

			<a href="#" class="primary" data-role="back">
				<i class="icon-list"></i>
				Levels
			</a>

		{{/if}}

	</div>

{{else}}

	<div class="actions">
		
		<a href="#" data-role="back">
			<i class="icon-list"></i>
			Levels
		</a>

		<a href="#" class="primary button-try-again" data-role="restart">
			<i class="icon-rotate-left"></i>
			Try Again
		</a>

	</div>

{{/if}}