<div class="actions">

	<a href="#" data-role="restart">
		<i class="icon-rotate-left"></i>
		Restart
	</a>
	
	<a href="#" class="primary" data-role="resume">
		Resume
		<i class="icon-chevron-right"></i>
	</a>

</div>

<a class="button-flat-light block" data-role="back">
	<i class="icon-list"></i>
	Levels
</a>