
@font-face {
	font-family: 'memoricons';
	src:url('../fonts/memoricons.eot');
	src:url('../fonts/memoricons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/memoricons.woff') format('woff'),
		url('../fonts/memoricons.ttf') format('truetype'),
		url('../fonts/memoricons.svg#memoricons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'memoricons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-web, .icon-war, .icon-vip, .icon-vase, .icon-van, .icon-tune, .icon-top, .icon-time, .icon-tear, .icon-tea, .icon-tank, .icon-tale, .icon-tag, .icon-sea, .icon-ruby, .icon-rose, .icon-rock, .icon-rex, .icon-rev, .icon-reel, .icon-ray, .icon-rat, .icon-ram, .icon-rain, .icon-rag, .icon-nuts, .icon-noise, .icon-nan, .icon-nail, .icon-mum, .icon-mug, .icon-moon, .icon-miss, .icon-me, .icon-mail, .icon-mafia, .icon-mad, .icon-mac, .icon-lose, .icon-look, .icon-lol, .icon-load, .icon-lip, .icon-liar, .icon-leaf, .icon-lay, .icon-lamb, .icon-lag, .icon-ko, .icon-kiss, .icon-juice, .icon-job, .icon-jelly, .icon-jedi, .icon-jar, .icon-in, .icon-hub, .icon-hog, .icon-hive, .icon-here, .icon-ham, .icon-hack, .icon-grave, .icon-gig, .icon-gas, .icon-game, .icon-gain, .icon-fuel, .icon-fuck, .icon-fish, .icon-fire, .icon-fifa, .icon-fee, .icon-fave, .icon-fat, .icon-fame, .icon-dot, .icon-daze, .icon-cool, .icon-cog, .icon-coffee, .icon-code, .icon-cat, .icon-car, .icon-cape, .icon-cane, .icon-cam, .icon-bus, .icon-boom, .icon-book, .icon-boat, .icon-bin, .icon-bee, .icon-bar, .icon-ball, .icon-bag, .icon-baby, .icon-alien, .icon-age, .icon-above {
	font-family: 'memoricons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-web:before {
	content: "\e000";
}
.icon-war:before {
	content: "\e001";
}
.icon-vip:before {
	content: "\e002";
}
.icon-vase:before {
	content: "\e003";
}
.icon-van:before {
	content: "\e004";
}
.icon-tune:before {
	content: "\e005";
}
.icon-top:before {
	content: "\e006";
}
.icon-time:before {
	content: "\e007";
}
.icon-tear:before {
	content: "\e008";
}
.icon-tea:before {
	content: "\e009";
}
.icon-tank:before {
	content: "\e00a";
}
.icon-tale:before {
	content: "\e00b";
}
.icon-tag:before {
	content: "\e00c";
}
.icon-sea:before {
	content: "\e00d";
}
.icon-ruby:before {
	content: "\e00e";
}
.icon-rose:before {
	content: "\e00f";
}
.icon-rock:before {
	content: "\e010";
}
.icon-rex:before {
	content: "\e011";
}
.icon-rev:before {
	content: "\e012";
}
.icon-reel:before {
	content: "\e013";
}
.icon-ray:before {
	content: "\e014";
}
.icon-rat:before {
	content: "\e015";
}
.icon-ram:before {
	content: "\e016";
}
.icon-rain:before {
	content: "\e017";
}
.icon-rag:before {
	content: "\e018";
}
.icon-nuts:before {
	content: "\e019";
}
.icon-noise:before {
	content: "\e01a";
}
.icon-nan:before {
	content: "\e01b";
}
.icon-nail:before {
	content: "\e01c";
}
.icon-mum:before {
	content: "\e01d";
}
.icon-mug:before {
	content: "\e01e";
}
.icon-moon:before {
	content: "\e01f";
}
.icon-miss:before {
	content: "\e020";
}
.icon-me:before {
	content: "\e021";
}
.icon-mail:before {
	content: "\e022";
}
.icon-mafia:before {
	content: "\e023";
}
.icon-mad:before {
	content: "\e024";
}
.icon-mac:before {
	content: "\e025";
}
.icon-lose:before {
	content: "\e026";
}
.icon-look:before {
	content: "\e027";
}
.icon-lol:before {
	content: "\e028";
}
.icon-load:before {
	content: "\e029";
}
.icon-lip:before {
	content: "\e02a";
}
.icon-liar:before {
	content: "\e02b";
}
.icon-leaf:before {
	content: "\e02c";
}
.icon-lay:before {
	content: "\e02d";
}
.icon-lamb:before {
	content: "\e02e";
}
.icon-lag:before {
	content: "\e02f";
}
.icon-ko:before {
	content: "\e030";
}
.icon-kiss:before {
	content: "\e031";
}
.icon-juice:before {
	content: "\e032";
}
.icon-job:before {
	content: "\e033";
}
.icon-jelly:before {
	content: "\e034";
}
.icon-jedi:before {
	content: "\e035";
}
.icon-jar:before {
	content: "\e036";
}
.icon-in:before {
	content: "\e037";
}
.icon-hub:before {
	content: "\e038";
}
.icon-hog:before {
	content: "\e039";
}
.icon-hive:before {
	content: "\e03a";
}
.icon-here:before {
	content: "\e03b";
}
.icon-ham:before {
	content: "\e03c";
}
.icon-hack:before {
	content: "\e03d";
}
.icon-grave:before {
	content: "\e03e";
}
.icon-gig:before {
	content: "\e03f";
}
.icon-gas:before {
	content: "\e040";
}
.icon-game:before {
	content: "\e041";
}
.icon-gain:before {
	content: "\e042";
}
.icon-fuel:before {
	content: "\e043";
}
.icon-fuck:before {
	content: "\e044";
}
.icon-fish:before {
	content: "\e045";
}
.icon-fire:before {
	content: "\e046";
}
.icon-fifa:before {
	content: "\e047";
}
.icon-fee:before {
	content: "\e048";
}
.icon-fave:before {
	content: "\e049";
}
.icon-fat:before {
	content: "\e04a";
}
.icon-fame:before {
	content: "\e04b";
}
.icon-dot:before {
	content: "\e04c";
}
.icon-daze:before {
	content: "\e04d";
}
.icon-cool:before {
	content: "\e04e";
}
.icon-cog:before {
	content: "\e04f";
}
.icon-coffee:before {
	content: "\e050";
}
.icon-code:before {
	content: "\e051";
}
.icon-cat:before {
	content: "\e052";
}
.icon-car:before {
	content: "\e053";
}
.icon-cape:before {
	content: "\e054";
}
.icon-cane:before {
	content: "\e055";
}
.icon-cam:before {
	content: "\e056";
}
.icon-bus:before {
	content: "\e057";
}
.icon-boom:before {
	content: "\e058";
}
.icon-book:before {
	content: "\e059";
}
.icon-boat:before {
	content: "\e05a";
}
.icon-bin:before {
	content: "\e05b";
}
.icon-bee:before {
	content: "\e05c";
}
.icon-bar:before {
	content: "\e05d";
}
.icon-ball:before {
	content: "\e05e";
}
.icon-bag:before {
	content: "\e05f";
}
.icon-baby:before {
	content: "\e060";
}
.icon-alien:before {
	content: "\e061";
}
.icon-age:before {
	content: "\e062";
}
.icon-above:before {
	content: "\e063";
}
