
<div class="ui-bar">

	<a href="#" data-role="back" class="top-bar-button button-left">
		<i class="icon-caret-left"></i>
	</a>

	<span class="shots-counter" data-role="shots-counter">-</span>

	<a href="#" data-role="restart" class="top-bar-button button-right">
		<i class="icon-rotate-left"></i>
	</a>
	
</div>
