
.full-space {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.game-stage {
	.bg-image('backgrounds/ice', 425px 697px);
	background-color: #e0ecf0;
	.full-space;

	.game-layer {
		.full-space;
		z-index: 2;

		.game-sprite, .game-entity {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.game-walls {
		.full-space;
		z-index: 1;
	}

	.game-controls {
		.full-space;
		z-index: 3;
	}

	.ui-bar {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		width: 100%;

		.button-back {
			.top-bar-button;
		}
	}
}